
__pycache__/MinecraftStatsHandler.cpython-312.pyc
__pycache__/MinecraftStatsHandler.cpython-312.pyc
__pycache__/PlayerGrabber.cpython-312.pyc
/output_data
/static/capes
/static/skins
/__pycache__
/__pycache__
*.pyc
__pycache__/MinecraftStatsHandler.cpython-312.pyc
__pycache__/PlayerGrabber.cpython-312.pyc
